/JSONSimpleExample/nbproject/private/
/JSONSimpleExample/build/
/JSONSimpleExample/dist/
/Tesis/nbproject/private/
/Tesis/build/
/Tesis/dist/
/Proyecto/nbproject/private/
/EjemploCUP/build/
/EjemploCUP/dist/
/EjemploCUP/nbproject/private/
/Proyecto1/nbproject/private/
/Proyecto/build/
/Proyecto/dist/